@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

.title {
    font-family: 'Bebas Neue', 'Nunito', sans-serif;
}

body {
    font-family: 'Nunito', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.slow-hover {
    @apply transition;
    @apply ease-in-out;
    @apply duration-300;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

p {
    @apply text-sm;

}
